{
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],

  "parserOptions": {
    "project": "./tsconfig.json"
  },

  "rules": {
    // Base
    "brace-style": "off",
    "no-underscore-dangle": "off",

    // Imports
    "import/no-extraneous-dependencies": "off",
    "import/newline-after-import": "off", 

    // React
    "react/function-component-definition": "off",
    "react/react-in-jsx-scope": "off",

    // Typescript
    "@typescript-eslint/brace-style": "off"
  },

  "env": {
    "browser": true,
    "jest": true
  },

  "overrides": [
    {
      "files": [
        "**/*.stories.*"
      ],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    },
    {
      "files": ["**/*.tsx"],
      "rules": {
          "react/prop-types": "off"
      }
  }
  ]
}