:root {
  --background-default: #212529;
  --spacing: 8px;
  --text-color: #FFFFFF;
}

html {
  box-sizing: border-box;
  background-color: var(--background-default);
}

body {
  background-color: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.text-color {
  color: var(--text-color);
}